<VirtualHost *:80>
    # Permanently redirect www.{{ item }} to {{ item }}
    ServerName www.{{ item }}
    Redirect 301 / http://{{ item }}/
</VirtualHost>

<VirtualHost *:80>
    ServerName {{ item }}
    DocumentRoot "{{ ansible_role_apache.docroot }}"

    RewriteEngine On

    <Directory "{{ ansible_role_apache.docroot }}">
        AllowOverride All
        Options -Indexes +FollowSymLinks
        AuthType Basic
        AuthName "{{ item }}"
        AuthUserFile /etc/apache2/{{ ansible_role_apache.app }}-users
        Require valid-user
    </Directory>

    ErrorLog  /var/log/apache2/{{ item }}/error.log
    CustomLog /var/log/apache2/{{ item }}/access.log combined

    <IfModule pagespeed_module>
        ModPagespeed on
        ModPagespeedDisableFilters inline_images,trim_urls,rewrite_style_attributes_with_url,convert_meta_tags,
        ModPagespeedEnableFilters extend_cache,rewrite_images,resize_images,recompress_images,remove_comments,collapse_whitespace,outline_javascript,remove_quotes,make_google_analytics_async,combine_javascript,inline_css,resize_mobile_images,pedantic,
        ModPagespeedLoadFromFile "http://{{ item }}/assets/" "{{ ansible_role_apache.docroot }}/assets/"
    </IfModule>
</VirtualHost>

<VirtualHost *:443>
    ServerName {{ item }}
    DocumentRoot "{{ ansible_role_apache.docroot }}"

    <Directory "{{ ansible_role_apache.docroot }}">
        AllowOverride All
        Options -Indexes +FollowSymLinks
    </Directory>

    ErrorLog  /var/log/apache2/{{ item }}/error.log
    CustomLog /var/log/apache2/{{ item }}/access.log combined

    SSLEngine On
    SSLCertificateFile /etc/ssl/certs/ssl-cert-snakeoil.pem
    SSLCertificateKeyFile /etc/ssl/private/ssl-cert-snakeoil.key

    <IfModule pagespeed_module>
        ModPagespeed off
    </IfModule>
</VirtualHost>
